/* ---------------------importing font------------------------ */
@font-face {

    font-family: "yekan";
    
    src: url("../font/Yekan/Yekan/Yekan.eot");
    
    src: url("../font/Yekan/Yekan.eot?#iefix") format("embedded-opentype"),
     url("../font/Yekan/Yekan.woff") format("woff"),
      url("../font/Yekan/Yekan.ttf") format("truetype"),
       url("../font/Yekan/Yekan.svg#BYekan") format("svg");
    
    font-weight: normal;
    
    font-style: normal
    
    }
    
    


/* ------------------------variables-------------------------- */
:root{
    --primary-color:#1894ff;
    --secondary-color:#3261b5;
    --my-green:#00d391;
    --my-white:#ffffff;
    --background-blue:#0089ff;
    --background-light:#e6f3ff;
    --gray-cover:rgba(0,0,0,0.16);
    --input-text-color:#666666;
    --text-color:#000000;
}



/*----------------------------- tags desine --------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: right;
    color: var(--text-color);
    font-family: "yekan";
}
body{
    background-color: var(--my-white);
}
h1 {
    font-size: 36px;
    color:var(--primary-color);
    font-weight: bold;
}
h2 {
    font-size:20px;
    color: var(--secondary-color);
    border-right: 5px solid var(--my-green);
    padding-right: 1rem;
    margin-bottom:3rem;
    font-weight: bold;
}
h3{
    font-size: 16px;
    margin:0.5rem;
    font-weight: bold;
}
h4{
    font-size: 16px;
    margin:0.5rem;
    font-weight: bold;
}
p{
    font-size: 16px;
    margin:0.5rem;
}
button{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width:170px;
    height:52px;
    border-radius: 10px;
    border:none;
}
button p{text-align: center;}
ul {
    list-style: none;
    display: flex;
}
a{text-decoration: none;font-size: 14px;}
nav{position: sticky;}
section{margin-top: 5rem;padding:10vw 10vw 0 10vw;}
footer {margin-top: 20vh;}
/* responsive */
@media(max-width:1210px){
    button{width:140px;height:43px;}
    h1{font-size: 30px;}
    h2{font-size: 18px;}
    h3{font-size: 14px;}
    h4{font-size: 14px;}
    p{font-size: 14px;}
    a{font-size: 12px;}
}
@media(max-width:950px){
    h1{font-size: 26px;}
    h2{font-size: 16px;}
    h3{font-size: 12px;}
    h4{font-size: 11px;}
    p{font-size: 12px;}
    a{font-size: 10px;}
}
@media(max-width:850px){
    button{width:130px}
}
/* mobile */
@media(max-width:800px){
    button{
        width:170px;
        height:52px;
    }
    button p{font-size: 16px;}
    h1{font-size: 24px;}
    h2{font-size: 16px;}
    h4{font-size: 14px;}
    p{font-size: 12px;}
    ul{flex-direction: column;}
    section{padding:36px 36px 0 36px}
}




/* -----------------------------------------------utility classes------------------------------------------ */
/* font classes*/
.--font-10{font-size: 10px;}
.--font-12{font-size: 12px;}
.--font-14{font-size: 14px;}
.--font-16{font-size: 16px;}
.--font-20{font-size: 20px;}

.--font-bold{font-weight: bold;}
.--font-normal{font-weight: normal;}
.--font-lighter{font-weight:lighter;}

.--text-waite{color:var(--my-white)}
.--text-primary{color:var(--primary-color)}
.--text-secondary{color:var(--secondary-color)}

/* background classes */
.--bg-waite{background-color: var(--my-white);}
.--bg-light{background-color: var(--background-light);}
.--bg-primary{background-color: var(--primary-color);}
.--bg-blue{background-color:var(--background-blue)}
.--bg-secondary{background-color: var(--secondary-color);}
.--bg-green{background-color: var(--my-green);}

/* border classes */
.--border-none{border:none}
.--border-solid{border-style: solid;}
.--border-s{border-width: 1px;}
.--border-n{border-width: 2px;}
.--border-t{border-width:3px}
.--border-r{border-radius: 5px;}
.--circle{border-radius: 100%;}
.--border-primary{border-color: var(--primary-color);}

.--my-2{margin-top: 2rem;margin-bottom: 2rem;}
.--m-0{margin:0}

/* special */
.logo {
    display:flex;
    text-align: right;
}
.logo img {
    align-self: flex-start;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.logo h4{
    margin-bottom: 0;
}
.logo p {
    font-size: 0.8rem ;
    opacity: 0.5;
    margin-top: 0;
}

.--mobile{display:none}

.--d-none{display:none !important}



/* ------------------------------------------page desine----------------------------------------- */

/* navbar */
.navbar{
    display: grid;
    grid-template-columns: 3fr 7fr 3fr;
    padding: 1rem;
    align-items: center;
    padding:13.5px 0 18.5px 18.5px;
    width:98vw;
    position:absolute;
    background-color: var(--my-white);
}
.navbar__menue {
    padding-left: 2rem;
}
.navbar__menue ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;}
.navbar__menue li {
    margin-right:2rem;
}

/* smart phones */

@media(max-width:800px){
    .navbar {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 66.5px;
        padding-right: 18.5px;
        top:0;
    }
    .--Row5{grid-template-rows: 66.5px 100px 100px 100px 100px;}
    .navbar__menue-open{grid-column: 1/2;grid-row: 1/2;}
    .logo{grid-column: 3/4;grid-row: 1/2;margin-left: auto;}
    .navbar__menue {
        grid-column: 1/4;
        grid-row:2/5;
    }
    .navbar__menue ul{flex-direction: column;}
    .navbar__menue li{text-align: right; margin-top: 0.35rem;margin-bottom: 0.35rem;}
    .navbar__menue li a{font-size: 16px;}
    .--active{
        border-right: 2px solid #1894ff;
        font-weight: bold;
        color: #0089ff;
        padding-right: 1rem;
    }
    .navbar__btn{
        grid-column: 3/4;
        grid-row: 5/6;
        margin-right: 1rem;
    }
    .--mobile{display: block;}
    .logo {justify-self: flex-start;align-self: flex-end;}
    .navbar__menue-open img, .navbar__menue-close img{float:left;margin-left: 2vw;}
}





/* home */
.home {
    display: flex;
    justify-content: space-between;
    /* padding-left: 10vw; */
    padding-right: 10vw;
    padding-top: 100px;
}

.home__picture {
    background:url("../../assests/img/Path\ 15701.svg") no-repeat right top ;
    background-size: cover;
    height:619px;
    width:53%;
    padding-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__picture img{width: 80%;}
.home__text{
    width:47%;
    margin-top:200px;
    /* padding:13rem 10vw 0 5vw; */
}
@media(max-width:1100px){
    .home__picture{height:400px}
    .home__text{margin-top: 120px;}
}
/* mobile part */
@media screen and (max-width:800px){
    h1{
        font-size: 24px;
    }
    .home{
        flex-direction: column;
        margin-top: 50px;
    }
    .home__picture{
        width:100%;
        background:none;
        height:250px;
    }
    .home__picture img{width:70%;}
    .home__text {
        justify-content: center;
        padding:0 0 0 10vw;
        width:100%;
        margin-top: 50px;
    }
    .home h1, .home__p {text-align: center;margin-top: 0.5rem;}
    .home__text div{display: flex;flex-direction: column;margin-top: 2rem;align-items: center;}
    .home__text button {margin-top: 1rem;}
    .home__text a {text-align: center;}
}
@media(max-width:600px){
    .home__picture img{width:302px;}
}






/* about */
.about {
    display: flex;
    justify-content: space-between;
    padding:0 10vw;
}
.about__text{width:43vw;padding-top:2rem}
.about__text>p {
    margin-bottom: 5vw;
    margin-right: 0;
}
.about__text h2 {
    margin-bottom:2vw;
}
@media screen and (max-width:925px){
    .about__text>p {
        font-size:12px;
    }
    .about__text h2{
        font-size:1.2rem;
    }
}
.about__icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.about__icon {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__icon div{
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow:0 0 20px #1893ff21;
    border-radius: 20%;
    width:80px;
    height:80px;
    padding:24px;
}

.about__icon p{
    text-align: center;
    margin-bottom: -5px;
}
.about__picture {
    background: url("../../assests/img/app-preview.svg");
    background-position: center;
    background-size: cover;
    background-color:#E6F3FF;
    border-radius: 20%;
    width:29vw;
    height:29vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__picture img{
    width:30%;
}
.about__mobile{
    display: none;
    margin-top: 3rem;
    padding:1rem 0;
}
@media(max-width:950px){
    .about__text>p {margin-bottom: 3vw;}
    .about__text h2 {margin-bottom:1vw;}
}
@media(max-width:900px){
    .about__icon p{margin-bottom: -2px;}
    .about__text{padding-top: 0.5rem;}
}
@media(max-width:800px){
    .about {
        flex-direction: column;
        align-items: center;
        padding:0 36px;
    }
    .about__picture{width:50vw;height:50vw}
    .about__text {display: none;}
    .about__mobile{display: block;}
    .about__mobile p{text-align:right ;}
}
@media(max-width:500px){
    .about__picture{width:80vw;height:80vw;}
}


/* facilities part */
.facilities__grid{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.facilities__picture {
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width:32vw;
}
.facilities__picture div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding:30px 0;
    width:160px;
    height:160px;
}
.facilities__picture div img {
    align-self: center;
    justify-self: center;
}
.--bordered{
    box-shadow:0 0 20px #1893ff31;
    border-radius: 20%;
}

.--gray{
    filter:grayscale(100%);
    opacity: 0.5;
}
.facilities__picture div p {
    text-align: center;
}

.facilities__text{
    width:43vw;
}
.facilities__holder {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: repeat(1,1fr);
    grid-column-gap:1em ;
    margin-top:3vw;
}
.facilities__stepsimg {
    display: grid;
    grid-template-columns: repeat(1.1fr);
    grid-template-rows: repeat(5,18%);
    align-items: center;
    height:100%;
    justify-items: center;
    height:206px;
}
.facilities__steps {
    display: grid;
    grid-template-columns: repeat(1.1fr);
    grid-template-rows: repeat(3,33%);
    height: 100%;
}
.facilities__steps h4, .facilities__steps p{ margin:0}
.facilities__steps p{
    margin-right: 4vw;
    font-size: 14px;
}
@media screen and (max-width:1120px){
    .facilities__picture div{width:120px;height:120px}

    .facilities__holder {
        margin-top:0;
    }
    .facilities__steps{
        grid-row-gap: 0;
    }
    .facilities__steps p{
        margin-right: 0;
        font-size: 12px;
        line-height: 1rem;
    }
}
@media (max-width:800px) {
    .facilities__grid{flex-direction: column;}
    .facilities__picture{
        width:100% ;
        justify-content: space-between;
        align-items: flex-start;
        /* box-direction: reverse; */
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        margin-left: -0.2rem;
    }
    .facilities__picture div{width:120px;height:120px;padding:1rem 0;flex-shrink: 0;}
    .--bordered {order:-1; float: right;}
    .facilities__text{margin-top:3rem;width:100%;}
    .facilities__holder{margin-top:2rem}
    .facilities__steps{
        grid-row-gap: 0.2rem;
    }
    .--gray{margin-right:1rem}
}

/* positioning for 3 image of this part */
img[alt="arrow"]{
    transform:rotate(-90deg);
    background-color: #E6F3FF;
    border-radius: 100%;
    padding: 0.5rem;
    width:34px;
}
img[alt="tick"]{
    background-color: #00de9a;
    border-radius: 100%;
    padding:0.5rem;
    width:34px;
    height:34px;
}
.--firstArrow {
    grid-row:1/2;
    grid-column: 1/2;
}
.--line {
    grid-row: 1/5;
    grid-column: 1/2;
    margin-top: 34px;
}
.--secondArrow{
    grid-row: 3/4;
    grid-column:1/2;
}
.--tick {
    grid-row: 5/6;
}


/* download part */
.download {
    background-color: #0089ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 15rem;
    height:612px;
    padding-left: 0;
}
.download__picture {
    position: relative;
    width:40vw;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}
.download__picture img{width:100%;}

.download__picture:before{
    content:'';
    position:absolute;
    background:url("../../assests/img/Path\ 15701.svg") no-repeat center center/cover;
    width:67vw;
    height:44vw;
    margin-left: -4rem;
    margin-top: -8vw;
    opacity:0.2;
}

.download__text {
    display: flex;
    flex-direction: column;
    position: relative;
    width:45vw;
    height:80%;
}
.download__text:before{
    content:'';
    position:absolute;
    background:url("../../assests/img/Path\ 15701.svg") no-repeat center center/cover;
    width:46rem;
    height:30rem;
    transform: rotate(-195deg);
    bottom: 17vw;
    left:22vw;
    opacity:0.2;

}
@media screen and (max-width:1142px){
    .download__picture:before{
        margin-top: 0;
        margin-left: -5rem;
    }
    .download__text:before{
        left:20vw;
        transition:1s;
    }
}
@media  screen and (max-width:1000px){
    .download .download__text:before{
        left:15vw;
        transition: 1s;
    }
}
.download__text h2,.download__text p{
    color: #f3f3f3;
    border:none;
    margin-bottom: 1.5rem;
}
.download__text form{
    float: right;
    position:relative;
    height:65px;
    align-self: flex-end;
    margin-top: 0.8rem;
}
.download__text form input[type="text"]{
    font-size: 16px;
    width:40vw;
    height:100%;
    border-radius: 5px;
    border:none;
    text-align: right;
    padding-right:1rem;
    color:#0000007e;
}
.download__text form button{
    background:#1894ff;
    color:#ffffff;
    height:70%;
    width:23%;
    position: absolute;
    margin-top: 2%;
    margin-left:2%;
    border:none;
}
.download__apps {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 3.2rem;
}
.download__apps button {
    display: flex;
    align-items: center;
}
.download__apps img{width:100%;}
.download__android{
    display:flex;
    justify-content: center;
}
.download__android p{margin:0 10px 0 0;}
.download .--width15{width:15%;}
@media(max-width:1100px){
    .download{
        height:auto;
        padding:5vw 5vw 0 5vw;
    }
    .download__text form{height:54px;}
    .download__text form button{margin-top: 2%;}
}
@media(max-width:950px){
    .download__text h2,.download__text p{margin-bottom: 1rem;margin-top: 0;}
    .download__text form{margin-top: 0;}
    .download__text form input[type="text"]{font-size: 12px;}
    .download__apps{margin-top: 2rem;}
    .download__apps button{width:115px;}
    .download__android p{margin:0 10px 0 0;}
}
@media(max-width:800px){
    .download__apps button{width:160px}
}
@media(max-width:700px){
    .download__picture:before,.download__text:before{display: none;}
    .download{flex-direction: column;flex-direction: column-reverse;height:170vw}
    .--web{display: none;}
    .download__picture{width:100%;}
    .download__picture img{width:100%}
    .download__text{padding:2rem;align-items: center;width:100%;}
    .download__text h2,.download__text p{padding:0;margin-right: 0;margin-bottom: 2rem;}
    .download__text form input[type="text"]{width:335px;height:54px;font-size: 12px;margin-right: 15vw;}
    .download__text form button{margin-top: 2.2%;font-size: 13px;width:84px;height:38px;}
    .download__apps{flex-direction: column;align-items: center;margin-top:1rem}
    .download__apps button{margin-top: 2rem;width:180px;}
    .download__apps img{width:180px;}
}
@media(max-width:560px){
    .download{height:200vw}
    .download__text h2,.download__text p{align-self: flex-end;}
    .download__text form input[type="text"]{margin-right: -1rem;}
}
@media(max-width:400px){
    .download{height:210vw}
}

/* membership */
.membership {
    padding:10vw 10vw;
    background:url("../../assests/img/subscription-bg.svg")  no-repeat ;
    background-position: right top;
    background-size: 80%;
    
}
.membership__container {
    display: flex;
    justify-content: space-between;
    box-shadow:0 0 20px #1893ff31;
    background-color: var(--my-white);
    padding:5vw 5vw 0 5vw;
}
.membership__picture{
    width:40%;
    display: flex;
    align-items: flex-end;
    /* align-content: flex-end; */
}
.membership__picture img{
    width:100%;
    float:left;
}
.membership__text {
    width:57%;
    justify-self: start;
    margin-bottom: 5vw;
}
.membership__text h2{margin-bottom:2rem}
.membership__submit {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-left: 2vw;
}
.membership__submit p{margin:0}
.membership__submit button {
    height:45px;
    width: 130px;
}
.membership__submitText{display:flex;flex-wrap: wrap;justify-content: center;}
@media(max-width:1200px){
    .membership__submit{margin-top: 3rem;}
}
@media(max-width:1050px){
    .membership__submit button {
        height:35px;
        width: 100px;
    }
}
@media(max-width:800px){
    .membership{background:none;padding-left:12px;padding-right: 12px;}
    .membership__container{flex-direction: column;align-items: center;padding-left:25px;padding-right:25px}
    .membership__picture ,.membership__text{width:70vw;}
    .membership__submit{margin-top: 3rem;margin-left: 0;justify-content: space-between;}
    .membership__submit button {
        height:45px;
        width: 130px;
    }
    .membership h2{margin: 2rem 0;}
}


/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__firstsec {
    background-color: #1894ff;
    display: flex;
    height:10rem;
    color:#ffffff;
    padding:3.5rem 10vw;
}
.footer__firstsec h2{border:none;padding:0;margin:0}
.footer__topText{
    margin-left: auto;
    margin-right: 32px;
    vertical-align: middle;
    font-size: 14px;
}
.footer__support {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width:260px;
    height:52px;
    padding:0 15px;
}

.footer__secondsec{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    height:300px;
    padding:3vw;
    padding-left: 8vw;
    padding-right: 8vw;
}
.footer__secondsec  a{
    text-align: right;
    padding-right: 1vw;
    margin-top: 1rem  ;
}
.footer__secondsec h4{
    text-align: center;
    text-align: end;
}

.footer__info{
    grid-column: 9/12;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__apps{
    margin-top: 1rem;
}
.footer__apps img{
    margin-left:1.5rem;
    float:right;
}
.footer__services {
    grid-column: 7/9;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right:2vw;
}

.--highlight{
    color:#006eff;
    border-right: 5px solid rgb(36, 243, 157);
}
.footer__contact{
    grid-column: 5/7;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right:2vw;
}

.footer__download{
    grid-column: 1/5;    
    grid-row: 1/2;
}
.footer__download img{width:100%}
/* responsive */
@media (max-width:950px){
    .footer__download button{width:117px}
    .footer__topText{vertical-align: 0; margin-top: 4px;}
    .footer__support{width:230px;padding:0 10px;}
}
@media (max-width:800px){
    .footer__firstsec{flex-direction: column-reverse;align-items:center;height:170px;padding:20px 0;}
    .footer__firstsec h3{margin:1rem 0 0 0}
    .footer__topText{text-align: center;margin:1rem 0 1rem 0;padding-top: 0;font-size: 12px;}
    .footer__support{width:260px;padding:0 20px;}
    .footer__support p{font-size: 16px;}
    .footer__secondsec{padding-left: 12vw;padding-right: 12vw;}
    .footer__secondsec{font-size: 14px;}
    .footer__info{grid-column: 1/12;justify-content: space-around;}
    .footer__apps{margin-right: 20vw;}
}
