<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assests/css/about.css">
        <title>about us</title>
    </head>
    <body>
        <!----- navbar------>
        <nav class="navbar">
            <a class="navbar__menue-open --mobile --show" href="#" onclick="myFunction()"><img src="img/24 - basic - menu.svg" alt="menu"></a>
            <a class="navbar__menue-close --mobile --d-none --show" href="#" onclick="myFunction()"><img src="img/close.svg" alt=""></a>
            <div class="navbar__btn --add-remove --show">
                <a href="#download">
                    <button class="--bg-light --text-primary">دانلود درماتینو</button>
                </a>
            </div>
            <div class="navbar__menue --add-remove --show">
                <ul>
                    <li><a class="--active" href="index.html.html">صفحه اصلی</a></li>
                    <li><a href="questions.html">عضویت داروخانه ها</a></li>
                    <li><a href="contact-us.html">تماس با ما</a></li>
                    <li><a href="about.html">درباره ما</a></li>
                    <li class="--mobile"><a href="#">سوالات متداول</a></li>
                    <li class="--mobile"><a href="#">قوانین و شرایط</a></li>
                </ul>
            </div>
            <div class="logo">
            <div>
                <h4>درماتینو</h4>
                <p>همراه شما در درمان</p> 
            </div>
            <img src="img/logo.svg" alt="logo">
            </div>
        </nav>


        <!-- section you can-->
        <section class="can">
            <div class="can__first">
                <div class="can__container">
                    <img src="img/person-icon.svg" alt="person">
                    <div class="can__holder">
                        <p class="can__first-p">شبانه روزی</p>
                        <h3>نام داروخانه شما</h3>
                        <p class="can__last-p">درمانیتو،سرویس داروخانه،داروخانه شما <img src="img/map-marker.svg" alt="marker"></p>
                    </div>
                </div>
                <div class="can__container --firstshadow --add-remove">
                    <img src="img/person-icon.svg" alt="person">
                    <div class="can__holder">
                        <p class="can__first-p">شبانه روزی</p>
                        <h3>نام داروخانه شما</h3>
                        <p class="can__last-p">درمانیتو،سرویس داروخانه،داروخانه شما <img src="img/map-marker.svg" alt="marker"></p>
                    </div>
                </div>
                <div class="can__container --secondshadow --add-remove">
                    <img src="img/person-icon.svg" alt="person">
                    <div class="can__holder">
                        <p class="can__first-p">شبانه روزی</p>
                        <h3>نام داروخانه شما</h3>
                        <p class="can__last-p">درمانیتو،سرویس داروخانه،داروخانه شما <img src="img/map-marker.svg" alt="marker"></p>
                    </div>
                </div>
                
            </div>
            <div class="can__second">
                <h1>شما هم می توانید در سلامت و بهبود مردم کشورمون موثر باشید</h1>
                <p>با ثبت نام به عنوان داروخانه یا فروشگاه و داروخانه شما هم به سیستم درمان کمک کنید و به هزاران کاربر خدمات ارایه بدین و روزانه درامد سفارش های خودتون رو تسفیه کنید</p>
                <div class="can__secholder">
                    
                    <button class="btn-primary">ثبت نام سریع</button>
                    <div>
                        <p>شماره همراه را وارد کنید</p>
                        <p class="--add-remove">0912 61 36 900</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- section blue -->
        <section class="blue">
            <div>
                <p>تعداد کاربران درمانیتو</p>
                <h1>+120,000</h1>
            </div>
            <div>
                <p>تعداد داروخانه و مراکز</p>
                <h1>+120,000</h1>
            </div>
            <div>
                <p>تعداد داروخانه و مراکز</p>
                <h1>+120,0000</h1>
            </div>
        </section>
        <!-- services -->
        <section class="services">
            <div class="services__text">
                <h2>در درمانیتو چه خدماتی ارایه خواهید داد</h2>
                <p>خدمت مورد نظر خود را برای ثبت نام انتخاب کنید</p>
            </div>
            <div class="services__card">
                <div class="services__container">
                    <img class="--add-remove" src="img/store-subcribe-page.svg" alt="shop">
                    <div>
                        <h2>فروشگاه ارایشی بهداشتی</h2>
                        <p>مایل هستم به عنوان داروخانه فعالیت کنم و در بخش صرفا سفارش دارو با عکس و نسخه به بیماران کمک رسانی کنم</p>    
                        <button class="btn-primary">ثبت نام</button>
                    </div>
                </div>
                <div class="services__container">
                    <img class="--add-remove" src="img/drug.svg" alt="drug">
                    <div>
                        <h2>داروخانه</h2>
                        <p>مایل هستم فقط به عنوان داروخانه فعالیت کنم و در بخش صرفا سفارش دارو با عکس و نسخه به بیماران کمک رسانی کنم</p>
                        <button class="btn-primary">ثبت نام</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer -->
        <footer class="footer">
            <div class="footer__firstsec">
                <a href="#">
                  <img src="img/support-phone-number.svg" alt="support">
                </a>
                <p class="--text-waite">پاسخ گویی در روز های کاری از ۹ صبح تا ۹ شب</p>              
                <h3 class="--text-waite">پشتیبانی درمانیتو</h3>
            </div>
            <div class="footer__secondsec">
                <div class="footer__info">
                    <div class="logo">
                        <div>
                          <h4>درماتینو</h4>
                          <p>همراه شما در درمان</p> 
                        </div>
                        <img src="img/logo.svg" alt="logo"> 
                    </div>
                    <div>
                        <h4>سوپر اپلیکیشن حوزه درمان و سلامت</h4>
                        <p>تمام حقوق مادی و معنوی این وبسایت متعلق به درمانیتو است</p>
                    </div>
                    <div class="footer__apps">
                        <img src="img/instagram.svg" alt="instagram">
                        <img src="img/twitter.svg" alt="twitter">
                        <img src="img/linkedin.svg" alt="linkedin">
                    </div>
                </div>
                <div class="footer__services --add-remove">
                    <h4>خدمات درمانیتو</h4>
                    <a href="#" class="--highlight">داروخانه انلاین</a>
                    <a href="#">فروشگاه انلاین</a>
                    <a href="#">ویزیت انلاین</a>
                    <a href="#">پرونده پزشکی</a>
                </div>
                <div class="footer__contact --add-remove">
                    <h4>صفحات درمانیتو</h4>
                    <a href="#">تماس با ما</a>
                    <a href="#">درباره ما</a>
                    <a href="#">سوالات متداول</a>
                    <a href="#">قوانین و شرایط</a>
                </div>
                <div class="footer__download --add-remove">
                    <h4>دانلود درمانیتو</h4>
                    <div>
                        <img src="img/sib-app-black.svg" alt="sibb app">
                        <img src="img/black-bazar.svg" alt="bazar">
                    </div>
                </div>
            </div>
        </footer>
    
    
    
    
    
        <!----------------------------------------------- js part -------------------------------------------------->
        <script>
            function myFunction() {
                var elements = document.getElementsByClassName("--show");
                for(let i=0; i<elements.length ; i++){
                    elements[i].classList.toggle('--d-none')
                }
                var navigation = document.getElementsByClassName("navbar");
                navigation[0].classList.toggle("--Row5")
            }
    
    
            function mediafunction(){
                var elements=document.getElementsByClassName("--add-remove");
                if (x.matches){
                    for(let i=0;i<elements.length;i++){
                        elements[i].classList.toggle("--d-none")
                    }
                }else{
                    for(let i=0;i<elements.length;i++){
                        elements[i].classList.remove("--d-none")
                    }
                }
    
                var navigation = document.getElementsByClassName("navbar");
                navigation[0].classList.remove("--Row5")
            }
                var x = window.matchMedia("(max-width: 800px)")
                mediafunction(x) // Call listener function at run time
                x.addListener(mediafunction) // Attach listener function on state change

                // cheker for web
            function mediacheker(){
                var open=document.getElementsByClassName("navbar__menue-open")
                var close=document.getElementsByClassName("navbar__menue-close")
                var navigation = document.getElementsByClassName("navbar");
                navigation[0].classList.remove("--Row5");
                open[0].classList.remove("--d-none");
                close[0].classList.remove("--d-none")
                close[0].classList.toggle("--d-none")
                
            }
                var y = window.matchMedia("(min-width:800px)")
                mediacheker(y)
                y.addListener(mediacheker)
            
        </script>
    </body>
</html>