<!DOCTYPE html>
<html lang="en fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assests/css/test-page-home.css">
    <title>darmnito</title>
</head>
<body>
    <!--------------------------------------- navbar ------------------------------>
    <nav class="navbar">
        <a class="navbar__menue-open --mobile --show" href="#" onclick="myFunction()"><img src="../../assests/img/24 - basic - menu.svg" alt="menu"></a>
        <a class="navbar__menue-close --mobile --d-none --show" href="#" onclick="myFunction()"><img src="../../assests/img/close.svg" alt=""></a>
        <div class="navbar__btn --add-remove --show">
            <a>
                <button class="--bg-light --text-primary">دانلود درماتینو</button>
            </a>
        </div>
        <div class="navbar__menue --add-remove --show">
            <ul>
                <li><a class="--active" href="index.html.html">صفحه اصلی</a></li>
                <li><a href="questions.html">عضویت داروخانه ها</a></li>
                <li><a href="contact-us.html">تماس با ما</a></li>
                <li><a href="about.html">درباره ما</a></li>
                <li class="--mobile"><a href="#">سوالات متداول</a></li>
                <li class="--mobile"><a href="#">قوانین و شرایط</a></li>
            </ul>
        </div>
        <div class="logo">
          <div>
              <h4>درماتینو</h4>
              <p>همراه شما در درمان</p> 
          </div>
          <img src="../../assests/img/logo.svg" alt="logo">
        </div>
    </nav>

    

    <!--------------------------------------- home part ------------------------------------------->
    <header class="home">
        <div class="home__picture">
            <img class="--add-remove" src="../../assests/img/doctor.svg" alt="doctor">
            <img class="--mobile" src="../../assests/img/doctor_two_color.svg" alt="doctor">
        </div>
        <div class="home__text">
            <h1>اپلیکیشن درماتینو</h1>
            <p class="home__p --add-remove --my-2">درماتینو سامانه هوشمند سلامت</p>
            <p class="home__p --mobile --font-14">سوپر اپلیکیشن حوزه درمان و سلامت</p>
            <div>
                <button class="--bg-primary ">
                    <p class="--text-waite --add-remove">دانلود درماتینو</p>
                    <p class="--text-waite --mobile">دانلود مستقیم اپ</p>
                </button>
                <button class="--bg-waite --border-solid --border-s --border-primary"><p class="--text-primary">عضویت داروخانه</p></button>
            </div>
        </div>
    </header>




    <!--------------------------------------- about part ------------------------------------------->
    <section  class="about">
        <div class="about__text">
            <h2>درباره درماتینو</h2>
            <p>درماتینو یک سامانه است که امکان سفارش دارو، محصولات ارایشی بهداشتی، نوبت گیری و مشاوره پزشکان را به راحتی و به صورت انلاین فراهم کرده است</p>
            <div class="about__icons">
                <div class="about__icon">
                    <div>
                        <img src="../../assests/img/search.svg" alt="fast search">
                    </div>
                    <p>جستجو سریع</p>
                </div>
                <div class="about__icon">
                    <div>
                        <img src="../../assests/img/time.svg" alt="time">             
                    </div>
                    <p>به صرفه</p>
                </div>
                <div class="about__icon">
                    <div>
                        <img src="../../assests/img/support.svg" alt="support">                     
                    </div>
                    <p>راحت</p>
                </div>
                <div class="about__icon">
                    <div>
                        <img src="../../assests/img/verify.svg" alt="verify">                    
                    </div>
                    <p>جستجو سریع</p>
                </div>
            </div>
        </div>
        <div class="about__picture">
            <img src="../../assests/img/Group 5534.svg" alt="app">
        </div>
        <div class="about__mobile">
            <h2>درماتینو چیست</h2>
            <p>درمانیتو یک سوپر اپلیکیشن است که سعی داره با سرویس های متفاوتش روند درمان شمارو تسریع کنه
                ؛ شما با درمانیتو میتونید نسخه خودتون رو برای تمام داروخانه های اطرافتون بفرستید
            </p>
        </div>
    </section>





    <!----------------------------------------- facilities part ------------------------------>
    <section class="facilities">
        <h2 class="facilities__title --add-remove">امکانات درمانیتو</h2>
        <h2 class="facilities__title --mobile">سرویس های درماتینو</h2>
        <div class="facilities__grid">
            <div class="facilities__picture">
              <div class="--gray">
                <img src="../../assests/img/shop.svg" alt="shop">
                  <p>فروشگاه</p>
              </div>
              <div class="--bordered">
                <img src="../../assests/img/pharmacy.svg" alt="pharmacy">
                <p class="--m-0">داروخانه</p>
              </div>
              <div class="--gray  --add-remove">
                <img src="../../assests/img/calender.svg" alt="calender">
                <p class="--m-0">نوبت دهی انلاین</p>
              </div>
              <div class="--gray ">
                <img src="../../assests/img/doctor-toys.svg" alt="toys">
                <p class="--m-0">ویزیت آنلاین</p>
              </div>
            </div>
            <div class="facilities__text">
                <h3>داروخانه انلاین</h3>
                <p class="--add-remove">در سرویس داروخانه شما می توانید نسخه دارویی با محصول بهداشتی رو برای پیدا شدن به داروخانه و فروشگاه سفارش بدید</p>
                <p class="--mobile">شما با درمانیتو می تونید نسخه و دارو خودتون رو اول برای تمام داروخانه های اطراف خودتون و اگر پیدا نشد در تمام داروخانه ها ارسال کنید و در کمترین زمان دارو شما پیدا می شود</p>
                <div class="facilities__holder">
                  <div class="facilities__steps">
                    <div>
                      <h4>قدم اول</h4>
                      <p>وارد بخش سفارش با عکس نسخه شوید و عکس و توضیحات را وارد کنید</p>
                    </div>
                    <div>
                      <h4>قدم دوم</h4>
                      <p>بعد از ارسال عکس نسخه، باید ادرس محل خودتون رو وارد کنید</p>
                    </div>
                    <div>
                      <h4>قدم سوم</h4>
                      <p>اگر نتیجه جستجوی نسخه موفقیت آمیز باشد باید منتظر تحویل سفارش باشید</p>
                    </div>
                  </div>
                  <div class="facilities__stepsimg">
                    <img src="../../assests/img/arrow.svg" class="--firstArrow" alt="arrow">
                    <img src="../../assests/img/Path 1.svg" class="--line" alt="path">
                    <img src="../../assests/img/arrow.svg" class="--secondArrow" alt="arrow">
                    <img src="../../assests/img/icon.svg" class="--tick" alt="tick">
                  </div>
                </div>
            </div>
        </div>
    </section>






    <!---------------------------------------- download part --------------------------------------------->
    <section class="download">
        <div class="download__picture">
            <img src="../../assests/img/app-preview.svg" alt="prewiew">
        </div>
        <div class="download__text">
            <h2>دانلود اپلیکیشن درمانیتو</h2>
            <p>برای دریافت لینک دانلود، شماره موبایل خود را وارد نمایید</p>
            <form action="#">
                <button>بفرست</button>
                <input type="text" name="phone-number" id="phone" value="0912 61 36 900شماره همراه را وارد کنید">
            </form>
            <div class="download__apps">
              <button class="--bg-secondary --add-remove">
                  <img class="--add-remove" src="../../assests/img/android.svg" alt="android">
              </button>
              <button class="--bg-secondary">
                  <img src="../../assests/img/bazar.svg" alt="bazar">
              </button>
              <button class="last-a --bg-secondary">
                  <img src="../../assests/img/sibapp.svg" alt="sibap">
              </button>
          </div>
        </div>
    </section>






    <!---------------------------------------- membership ----------------------------------------------->
    <section class="membership">
        <div class="membership__container">
          <div class="membership__picture">
            <img src="../../assests/img/subscribe-img.svg" alt="subscribe-img">
          </div>
          <div class="membership__text">
              <h2 class="--add-remove">عضویت داروخانه یا مرکز درمانی</h2>
              <h2 class="--mobile">من داروخانه یا مرکز درمانی هستم</h2>
              <p>اگر به عنوان داروخانه یا مرکز درمانی قصد دارید در روند درمان و کسب و کار خودتان تغییری ایجاد کنید درمانیتو منتظر شماست</p>
              <div class="membership__submit">
                  <button class="--bg-primary --text-waite">ثبت نام سریع</button>
                  <div class="membership__submitText">
                    <p class="--add-remove">0912 61 36 900</p>
                    <p>شماره همراه را وارد کنید</p>
                  </div>
              </div>
          </div>
          
        </div>
    </section>






    <!------------------------------------------------- footer------------------------------------------>
    <footer class="footer">
        <div class="footer__firstsec">
            <button class="footer__support --bg-secondary">
              <img src="../../assests/img/Group 5522.svg" alt="support">
              <p class="--text-waite">:پشتیبانی</p>
              <p class="--text-waite"> ۰۲۱-۴۴۲۱۹۶۷۱</p>
            </button>
            <p class="--text-waite footer__topText">پاسخ گویی در روز های کاری از ۹ صبح تا ۹ شب</p>              
            <h2 class="--text-waite">پشتیبانی درمانیتو</h2>
        </div>
        <div class="footer__secondsec">
            <div class="footer__info">
                <div class="logo">
                    <div>
                      <h4>درماتینو</h4>
                      <p>همراه شما در درمان</p> 
                    </div>
                    <img src="../../assests/img/logo.svg" alt="logo"> 
                </div>
                <div>
                    <h4>سوپر اپلیکیشن حوزه درمان و سلامت</h4>
                    <p>تمام حقوق مادی و معنوی این وبسایت متعلق به درمانیتو است</p>
                </div>
                <div class="footer__apps">
                    <img src="../../assests/img/instagram.svg" alt="instagram">
                    <img src="../../assests/img/twitter.svg" alt="twitter">
                    <img src="../../assests/img/linkedin.svg" alt="linkedin">
                </div>
            </div>
            <div class="footer__services --add-remove">
                <h4>خدمات درمانیتو</h4>
                <a href="#" class="--highlight">داروخانه انلاین</a>
                <a href="#">فروشگاه انلاین</a>
                <a href="#">ویزیت انلاین</a>
                <a href="#">پرونده پزشکی</a>
            </div>
            <div class="footer__contact --add-remove">
                <h4>صفحات درمانیتو</h4>
                <a href="#">تماس با ما</a>
                <a href="#">درباره ما</a>
                <a href="#">سوالات متداول</a>
                <a href="#">قوانین و شرایط</a>
            </div>
            <div class="footer__download --add-remove">
                <h4>دانلود درمانیتو</h4>
                <div>
                    <button><img src="../../assests/img/sib-app-black.svg" alt="sibb app"></button>
                    <button><img src="../../assests/img/black-bazar.svg" alt="bazar"></button>
                </div>
            </div>
        </div>
    </footer>





    <!----------------------------------------------- js part -------------------------------------------------->
    <script>
        function myFunction() {
            var elements = document.getElementsByClassName("--show");
            for(let i=0; i<elements.length ; i++){
                elements[i].classList.toggle('--d-none')
            }
            var navigation = document.getElementsByClassName("navbar");
            navigation[0].classList.toggle("--Row5")
        }


        function mediafunction(){
            var elements=document.getElementsByClassName("--add-remove");
            if (x.matches){
                for(let i=0;i<elements.length;i++){
                    elements[i].classList.toggle("--d-none")
                }
            }else{
                for(let i=0;i<elements.length;i++){
                    elements[i].classList.remove("--d-none")
                }
            }

            var navigation = document.getElementsByClassName("navbar");
            navigation[0].classList.remove("--Row5")
        }
            var x = window.matchMedia("(max-width: 800px)")
            mediafunction(x) // Call listener function at run time
            x.addListener(mediafunction) // Attach listener function on state change

            // cheker for web
            function mediacheker(){
                var open=document.getElementsByClassName("navbar__menue-open")
                var close=document.getElementsByClassName("navbar__menue-close")
                var navigation = document.getElementsByClassName("navbar");
                navigation[0].classList.remove("--Row5");
                open[0].classList.remove("--d-none");
                close[0].classList.remove("--d-none")
                close[0].classList.toggle("--d-none")
                
            }
                var y = window.matchMedia("(min-width:800px)")
                mediacheker(y)
                y.addListener(mediacheker)
        
    </script>
</body>
</html>